<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Modernrugs\ApiCustom\Api\AddToCartInterface" type="Modernrugs\ApiCustom\Model\Api\AddToCart"/>
    <preference for="Magento\Quote\Model\ChangeQuoteControl" type="Modernrugs\ApiCustom\Model\ChangeQuoteControl" />
</config>
